extends layout

block content
    h1= title
    p Welcome to #{title}
    #future
    form#chat_form
        input(type="text")#chat_input
        input(type="submit", value="Send")
    script.

        var socket = io.connect('http://localhost:3000');
        socket.on('connect', function (data) {
            socket.emit('join', 'Hello World from client');
        });
        socket.on('messages', function (data) {
            alert(data);
        });
        //localStorage.debug = '*';
